.title {
  font-size: 16px;
  margin-bottom: 4px;
}

.today-weather-container {
  border-bottom: 1px solid #000;
}

.search-container {
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.form-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.weather-container {
  margin-top: 24px;
}

.main-container {
  display: flex;
  gap: 24px;
}

.icon {
  width: 70px;
  height: 75px;
  background-image: url("../img/icons.png");
}

.cloud {
  background-position: -70px 225px;
}

.rain {
  background-position: -360px -150px;
}

.clear {
  background-position: -70px 0;
}

.other {
  background-position: -140px 75px;
}

.weather-title {
  font-size: 24px;
  font-weight: bold;
}

.weather-description {
  font-size: 16px;
  color: #3d3d3d;
  margin-top: 8px;
}

.loading {
  display: none;
}

.error-container {
  padding: 4px;
  display: none;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  border: 1px solid red;
  background-color: rgb(255, 234, 234);
}

.error-text {
  font-size: 14px;
}
